{% extends 'layout.html' %}
{% block body %}
<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="card border-0 shadow-sm">
        <div class="card-header bg-primary text-white">
          <h1 class="h3 mb-0">Edit Book</h1>
        </div>
        <div class="card-body p-4">
          {% from "includes/_formhelpers.html" import render_field %}
          <form method="POST" action="">
            <div class="row g-3">
              <!-- Book ID -->
              <div class="col-md-6">
                {{render_field(form.id, class_="form-control", value=book.id)}}
              </div>
              
              <!-- Title -->
              <div class="col-md-6">
                {{render_field(form.title, class_="form-control", value=book.title)}}
              </div>
              
              <!-- Author -->
              <div class="col-md-6">
                {{render_field(form.author, class_="form-control", value=book.author)}}
              </div>
              
              <!-- Average Rating -->
              <div class="col-md-6">
                {{render_field(form.average_rating, class_="form-control", value=book.average_rating)}}
              </div>
              
              <!-- ISBN -->
              <div class="col-md-6">
                {{render_field(form.isbn, class_="form-control", value=book.isbn)}}
              </div>
              
              <!-- ISBN13 -->
              <div class="col-md-6">
                {{render_field(form.isbn13, class_="form-control", value=book.isbn13)}}
              </div>
              
              <!-- Language Code -->
              <div class="col-md-6">
                {{render_field(form.language_code, class_="form-control", value=book.language_code)}}
              </div>
              
              <!-- Number of Pages -->
              <div class="col-md-6">
                {{render_field(form.num_pages, class_="form-control", value=book.num_pages)}}
              </div>
              
              <!-- Ratings Count -->
              <div class="col-md-6">
                {{render_field(form.ratings_count, class_="form-control", value=book.ratings_count)}}
              </div>
              
              <!-- Text Reviews Count -->
              <div class="col-md-6">
                {{render_field(form.text_reviews_count, class_="form-control", value=book.text_reviews_count)}}
              </div>
              
              <!-- Publication Date -->
              <div class="col-md-6">
                {{render_field(form.publication_date, class_="form-control", type="date", value=book.publication_date)}}
              </div>
              
              <!-- Publisher -->
              <div class="col-md-6">
                {{render_field(form.publisher, class_="form-control", value=book.publisher)}}
              </div>
              
              <!-- Total Quantity -->
              <div class="col-md-12">
                {{render_field(form.total_quantity, class_="form-control", value=book.total_quantity)}}
              </div>
              
              <!-- Submit Button -->
              <div class="col-12 mt-4">
                <button type="submit" class="btn btn-primary" value="Submit">Save Changes</button>
                <a href="#" class="btn btn-outline-secondary ms-2">Cancel</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}